
.message-container{
    max-width:550px;
    border: 2px solid #ced4da;
    margin-right:auto;
    margin-left: auto;
    margin-top: 20px;;
    border-radius: 10px;
    height: 85vh;
    font-size: 14px;
    position: relative;
    padding: 0;
    padding-bottom: 100px !important;
}

.chat-div{
    border-top:2px solid #ced4da;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.message-text-input{
    border: 0.2px solid #dee2e6;
    outline: none;
    resize: none;
    height: 100px;
    overflow: hidden;
    display: inline-block;
    width: 85%;
    padding: 8px;
    margin-top: 10px;
    border-radius: 10px;
}

.sent-btn{
    float: right;
    border: 2px solid #339af0;
    margin-top: auto;
    margin-bottom: auto;
    background-color: #e7f5ff;
    border-radius: 15000px;
    padding-left: 25px;
    
}

.close-btn{
    padding: 0;
    display: inline;
    width: 36px;
    height: 36px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1500px;
    background-color: #fa5252;
}

.close-btn svg{
    width: 24px;
    height: 24px;
    margin: auto;
}

.close-btn:hover{
    background-color: #c92a2a;
}

.btn-div{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    padding-top: 15px;
    margin-left: 15px;
}

.sent-btn:hover{
    background-color: #d0ebff;
    border-color: #1c7ed6;
    color: #1864ab;
}

.sent-btn svg{
    width: 100%;
    height:24px;
    width: 24px;
}

.message{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}

.outbound-msg{
    float: right;
    text-align: right;
    padding-right: 20px;
    background-color: #339af0;
    margin-left: auto;
}

.inbound-msg{
    float: left;
    text-align: left;
    padding-left: 20px;
    background-color: #40c057;
}

.message-text{
    display: inline-block;
    word-wrap: break-word;
    color: white;
    padding: 5px  20px 5px 20px;
    font-weight: 500;
    max-width: 60%;
    border-radius: 500px;
    margin-bottom: 3px !important;
}

.messages-div{
    padding: 20px;
    overflow-y:scroll;
    height: 60vh;
}

.inner-message-div{
    width: 100%;
    display: flex;
}


.messages-div::-webkit-scrollbar {
    display: none;
}

.messages-div {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-container{
    text-align: center;
    max-height: 60vh;
    padding-top: 10vh;
}

@media(max-width:700px){
    .message-container{
        width: 500px;
        font-size: 14px !important;
    }
    
}

@media(max-width:550px){
    .message-container{
        width: 500px;
        font-size: 12px !important;
    }
}

@media(max-width:550px){
    .message-container{
        width: 90vw;
    }
}





