.container{
    margin-right: auto;
    margin-left: auto;
    width:600px;
}

.btn{
    width:100%;
    margin-top: 16px;
}

.container{
    margin-top: 50px;
    align-items:center;
}

h3{
    margin:10px 0px 10px 0px;
}
label{
    font-size: 16px;
    padding-bottom: 5px;;
    margin-top: 10px;
    font-weight: 600;
}

p{
    font-size: 14px;
    padding-top: 5px;
}

.main-heading{
    font-weight: 500 !important;
    color:#1971c2;
}

@media(max-width:1000px){
    .main-heading{
       font-size: 16px !important;
    }

    .container{
        width:400px;
        float:center;
        font-size: 14px !important;
    }

    label{
        font-size: 14px !important;
    }


}

@media(max-width:500px){
    .main-heading{
       font-size: 16px !important;
    }

    .container{
        width:350px;
        float:center;
        font-size: 14px !important;
    }

    label,
    .text-danger,
    input,
    button{
        font-size: 12px !important;
    }

}

@media(max-width380px){
    .main-heading{
       font-size: 14px !important;
    }

    .container{
        width:280;
        float:center;
        font-size: 12px !important;
    }

    label,
    .text-danger,
    input
    ,button{
        font-size: 10px !important;
    }


    @media(max-width320px){
        .main-heading{
           font-size: 14px !important;
        }
    
        .container{
            width:200;
            float:center;
            font-size: 12px !important;
        }
    
        label,
        .text-danger,
        input
        ,button{
            font-size: 10px !important;
        }
    
    }
}