/* You can add global styles to this file, and also import other style files */
@media(max-width:600px) {
    .custom-navbar{
        width: 100%;
        background-color: rgba(13,110,253);
    }
    app-header{
        width: 100%;
        background-color: rgba(13,110,253);
    }

    * {
        margin: 0;
        padding: 0;
    }

    body{
        padding-bottom: 40px;
    }
 }