.searchTemplate{
    width: 100%;
    border-bottom: 2px solid rgb(69, 99, 249);
    padding: 10px 10px 10px 10px;
    height:60px;
}

.customSpinner{
    margin-top:20px;
    margin-left:20px
}

.container-fluid{
    padding-left: 0;
    padding-right: 0;
}

.alertMessage{
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
    max-height:50px;
    font-weight:10px
}

.input-group{
    width:40%;
}

.mainContainer{
    display:flex;
    overflow: row;
}

.subcontainer{
    overflow:row;
    padding:10px 10px 10px 10px;
    margin-left:1%;
    margin-right:1%;
    border-radius: 5px;
    width: 23%;
    min-width:350px;
}
.amazonCard{
    border: 1px solid green;
}

.targetCard{
    border: 1px solid rgb(179, 72, 72);
    border-width:thin;
}

.krogerCard{
    border: 1px solid blue;
    border-width: thin;
}

.costcoCard{
    border: 1px solid Red;
    border-width: thin;
}

.card{
    height: 600px;
    width:auto;
    padding:10px 10px 10px 10px;
    margin-bottom: 25px;
    margin-top:20px;
}
.imageBox{
    margin-bottom: 10px;
}

.imageBox img{
    max-width:100%;
    height:250px;
    float:center;
}


.visitStore{
    width:100%;
    font-size:18px;
    margin-top:10px;
    margin-bottom:10px;
}




