.setpassword{
    width:100%;
    position:center;
}

.container{
    max-width: 450px;
    width: 80%;
    border: 1px solid #a5d8ff;
    padding: 20px;
    border-radius: 8px;
}

.btn{
    margin-top: 10px;
    border-radius: 5px;
}

h5{
    margin-bottom: 25px;
}

@media(max-width:1000px){
    h5{
        font-size: 14px !important;
    }

    input{
        font-size: 12px !important;
    }

    btn{
        font-size: 12px;
    }
}

@media(max-width:600px){
    h5{
        font-size: 12px !important;
    }
    input{
        font-size: 10px !important;
    }

    .btn{
        font-size: 10px;
    }
}