<div class="container mt-5 setpassword">
    <div  *ngIf="!isOtpSent">
        <h5 class="label label-default text-primary">Email Confirmation</h5>
        <input type="token" ngModel name="token" id="token" [(ngModel)]="user.email"
            class="form-control mb-3" required="required">
        <button class="btn btn-primary form-control" (click)="sendOtp()">Send OTP</button>
    </div>

    <div  *ngIf="!isTokenVerified && isOtpSent">
        <h5 class="label label-default text-primary">OTP verification</h5>
        <input type="token" ngModel name="token" id="token" [(ngModel)]="token"
            placeholder="enter 6 digit otp" class="form-control mb-3" required="required">
        <button class="btn btn-primary form-control" (click)="validateToken()">Validate OTP</button>
    </div>

    <p *ngIf = 'errorOccured' class="text-danger mt-3">{{message}}</p>
    
    <div  *ngIf="isTokenVerified">
        <h5 class="label label-default text-primary">Set Password</h5>
        <input type="password" ngModel [(ngModel)] ="password1"
            placeholder="enter password" class="form-control mb-3" required="required" minlength="8">
        <input type="password" ngModel [(ngModel)] ="password2"
            placeholder="Re-enter Password" class="form-control mb-3" required="required" minlength="8">
        <button class="btn btn-primary form-control" (click)="setPassword()">Update Password</button>
    </div>
</div>
