<div class="container mt-5 registerForm">
    <div class="card" style="padding:20px;">
        <form #registerForm="ngForm" (ngSubmit)="!registerForm.invalid && register(registerForm)">
            <h5 class="label label-default text-primary mb-3">REGISTER</h5>
            <p class="text-danger" *ngIf="errorOccured">{{message}}</p>
            <div>
                <input  [readonly] = "isOtpSent"
                    type="text" ngModel name="userName" id="userName" placeholder="enter your username" 
                    class="form-control mb-3" required="required" minlength="5" #userName = "ngModel">

                <p class="text-danger" *ngIf="userName.touched && !userName.valid">username should be minimun 5 characters</p>

                <div class="form-group row"> 
                    <div class="col-sm-6">
                        <input  [readonly] = "isOtpSent"
                        type="text" ngModel name="userFirstName" id="userFirstName"
                        placeholder="enter your First name" class="form-control mb-3"
                        required="required" minlength="4" #userFirstName = 'ngModel'>

                        <p class="text-danger" *ngIf="userFirstName.touched && !userFirstName.valid">Min 4 characters required</p>
                    </div>
                    <div class="col-sm-6">
                        <input  [readonly] = "isOtpSent"
                        type="text" [(ngModel)] = "newuser.userLastName"
                        name="userLastName" id="userLastName"
                        placeholder="enter your Last name" class="form-control mb-3" 
                        required="required" minlength="4" #userLastName = 'ngModel'>
                        <p class="text-danger" *ngIf="userLastName.touched && !userLastName.valid">Min 4 characters required</p>
                    </div>
                 </div>
                <input  [readonly] = "isOtpSent"
                    type="email" ngModel name="email" id="email" placeholder="enter your email"
                    class="form-control mb-3" 
                    required="required" minlength="6" #email ="ngModel" [(ngModel)] ="newuser.email">

                <p class="text-danger" *ngIf="email.touched && !email.valid">Min 6 characters required</p>

                <button *ngIf ="!isOtpSent" class="btn btn-primary form-control" (click)="sendOtp()"  type="button"
                [disabled]="!email.valid || !userLastName.valid || !userFirstName.valid || !userName.valid" >
                    Send OTP
                </button>
            </div>

            <div *ngIf="isOtpSent">
                <input [readOnly] = "isTokenVerified" type="password" ngModel name="token" id="token" #token = "ngModel"
                    placeholder="enter 6 digit otp" class="form-control mb-3" required="required" [(ngModel)]="otpToken">
                <button *ngIf="!isTokenVerified && isOtpSent" class="btn btn-primary form-control" type="button" (click)="validateToken()">Validate OTP</button>
            </div>

            <div *ngIf="isTokenVerified">
                <input type="password" ngModel name="userPassword" id="userPassword" 
                placeholder="enter password" class="form-control mb-3" 
                required="required" minlength="8" #userPassword ="ngModel">       
                <p class="text-danger" *ngIf="userPassword.touched && !userPassword.valid">Min 8 characters required</p>
                <input type="password" ngModel name="confirmPassword" id="confirmPassword" placeholder="Re-enter Password" class="form-control mb-3" required="required" minlength="8">
                <input type="submit" value="Register" [disabled]="!registerForm.valid" class="btn btn-primary form-control rounded-0">
            </div>
        </form>
    </div>
</div>