input:disabled{
    border:none;
    width:auto;
    height:auto;
    margin:0 0 0 0;
    background-color: #fff;
}
input:focus{
    outline:none;
}

input{
    display: inline;
}

td{
    min-height: 20px;
    font-size: 14px;
    background-color: none;
    white-space: nowrap;
}

.btn{
    margin-left:15px;
}

.content-loader tr td {
    white-space: nowrap;
}

.table1 td th{
    width: auto;   
}

.search-box{
    float:right;
}

.search-box input{
    display: inline-block;
    max-width: 450px;
}

.searchTemplate{
    max-width: 450px;
    float: right;
}