<div class="container-fluid">
    <div class="searchTemplate">
        <form (ngSubmit)="fecthLocalSearchResults(searchToken)">
            <div class="input-group local-search">
                <input type="input" class="form-control rounded-left" placeholder="Search" [(ngModel)]="searchToken"
                    name="searchToken" />
                <button type="submit" class="btn btn-primary">search</button>
            </div>
        </form>
    </div>
    <div class="customSpinner" *ngIf="showSpinner==true">
        <div class="d-flex align-items-right">
            <h5 class="text-primary">Please Wait while we fetching the data........ &nbsp;&nbsp;</h5>
            <div class="spinner-border ml-auto text-primary" role="status" aria-hidden="true"></div>
        </div>
    </div>
    <div class="container-fluid result-container" *ngIf="content==true">
        <div *ngFor="let result of searchResults" class="card">
            <div class="card-body">
                <h5 class="card-title">{{result.description}}</h5>
                <p class="muted-text-1">Hurray! Here you go</p>
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th>Store</th>
                            <th>Price</th>
                            <th>Rating</th>
                            <th>Site</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let it of result.itemDetails">
                            <th >{{it.storeName}}</th>
                            <td class="price">{{it.price}}</td>
                            <td class="rating">{{it.rating}}</td>
                            <a *ngIf="it.url !=='N/A'" href={{it.url}} target="_blank">buy</a>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!-- div to display if no user reports found -->

<div *ngIf="isresultsFound == false" class="container">
    <h2 class ="text-danger"> We are Sorry!</h2>
    <h6>No matching results found for given search kindly try elevated search feature by <a routerLink="/elevatedSearch">clicking here </a></h6>
    <br>
    <h4>Please consider following favour to improve site performance</h4>
    <ul>
        <li>Request new request by <a routerLink="/user/request">clicking here</a></li>
        <li>Kindly share your feedback by <a routerLink="/user/contactus">clicking here</a></li>
        <li>Reqd more about us by <a routerLink="/user/about">clicking here</a></li>
    </ul>
</div>








