.navbar-brand{
    margin-left: 15px;
    font-size: 25px;
    font-family: cursive;
    font-weight: bold;
}

.btn{
    margin-right: 10px;
    margin-top:5px;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
 }

 .header{
    width:100%;
    overflow-x: auto;
 }
 