.navbar-brand{
    margin-left: 15px;
    font-size: 25px;
    font-family: cursive;
    font-weight: bold;
}

.btn{
    margin-right: 10px;
    margin-top:5px;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
 }

 .header{
    width:100%;
    overflow-x: auto;
 }

 .mobile-nav{
    display: none !important; 
 }
 
 @media(max-width:1001px){
    .mobile-nav{
        display: none;
    }
 }

 @media(max-width:1000px){
    .navbar-brand{
        font-size: 16px !important;
    }

    .nav-link,
    button{
        font-size: 14px !important;
    }

    .mobile-nav{
        display: block !important;
    }
    .desktop-nav{
        display: none;
    }
 }

 @media(max-width:750px){
    .navbar-brand{
        font-size: 14px !important;
    }

    .nav-link,
    button{
        font-size: 12px !important;
    }
 }


 @media(max-width:650px){
    .navbar-brand{
        font-size: 12px !important;
    }

    .nav-link,
    button{
        font-size: 10px !important;
    }

   
 }

