<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary custom-navbar">
    <a class="navbar-brand " routerLink="user/search">{{appName}}</a>
    <ul class="navbar-nav navbar-collapse desktop-nav" *ngIf="isLoggedIn()">
      <li class="nav-item active">
        <a class="nav-link" routerLink="user/search">Local Search</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="user/elevatedSearch">Global Search</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="common/chat">Chat</a>
      </li>
    </ul>
    <ul class="navbar-collapse navbar-nav justify-content-end desktop-nav" style="margin-right:10px">
      <li>
        <div *ngIf="isLoggedIn()" ngbDropdown class="d-inline-block nav-item">
          <button type="button" class="btn btn-outline-light" id="dropdownBasic1" ngbDropdownToggle *ngIf="isAdminUser()">Admin Actions</button>
          <button type="button" class="btn btn-outline-light" id="dropdownBasic1" ngbDropdownToggle *ngIf="isStandardUser()">User Actions</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div *ngIf="isAdminUser()">
              <button ngbDropdownItem routerLink="admin/addItems">Add Items</button>
              <button ngbDropdownItem routerLink="admin/searchReport">Search Reports</button>
              <button ngbDropdownItem routerLink="admin/viewItems">View Items</button>
              <button ngbDropdownItem routerLink="admin/viewRequests">View Requests</button>
              <button ngbDropdownItem routerLink="admin/viewFeedbacks">View feedbacks</button>
            </div>
    
            <div *ngIf="isStandardUser()">
              <button ngbDropdownItem routerLink="user/request">Request</button>
              <button ngbDropdownItem routerLink="user/contactus">Contact Us</button>
            </div>
            <button ngbDropdownItem routerLink="user/about">About</button>
            <button ngbDropdownItem (click)="logout()">Logout</button>
          </div>
        </div>
      </li> 
    </ul>
    
    
        <div *ngIf="isLoggedIn()" ngbDropdown class="d-inline-block nav-item mobile-nav">
          <button type="button" class="btn btn-outline-light" id="dropdownBasic1" ngbDropdownToggle *ngIf="isAdminUser()">Admin Actions</button>
          <button type="button" class="btn btn-outline-light" id="dropdownBasic1" ngbDropdownToggle *ngIf="isStandardUser()">User Actions</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem routerLink="user/search">Search</button>
            <button ngbDropdownItem routerLink="user/elevatedSearch">Global Search</button>
            <button ngbDropdownItem routerLink="common/chat">Chat</button>
            <div *ngIf="isAdminUser()">
              <button ngbDropdownItem routerLink="admin/addItems">Add Items</button>
              <button ngbDropdownItem routerLink="admin/searchReport">Search Reports</button>
              <button ngbDropdownItem routerLink="admin/viewItems">View Items</button>
              <button ngbDropdownItem routerLink="admin/viewRequests">View Requests</button>
              <button ngbDropdownItem routerLink="admin/viewFeedbacks">View feedbacks</button>
            </div>
    
            <div *ngIf="isStandardUser()">
              <button ngbDropdownItem routerLink="user/request">Request</button>
              <button ngbDropdownItem routerLink="user/contactus">Contact Us</button>
            </div>
            <button ngbDropdownItem routerLink="user/about">About</button>
            <button ngbDropdownItem (click)="logout()">Logout</button>
          </div>
        </div>
      
  </nav>
</header>