.form-group{
    margin: 10px 10px 10px 10px;
    width:600px;
    float:center;
}

.btn{
    width:600px;
    margin:10px 10px 10px 10px;
}

.container{
    margin-top: 50px;
    align-items:center;
}

h3{
    margin:10px 10px 10px 10px;
}
label{
    font-size: 18px;
}

p{
    font-size: 12px;
}