.container{
    margin-left:auto;
    margin-right: auto;
    width:600px;
    margin-top: 40px;;
}

.btn{
    width:100%;
    margin-top: 10px;
    margin-bottom: 10px;
}


label{
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 5px;
    font-weight: 600;
}

p{
    font-size: 14px;
}

h3{
    font-size: 28px !important;
}

@media(max-width:1000px){
    .container{
        width: 500px;
    }

    h3{
        font-size: 24px !important;
    }
}


@media(max-width:600px){
    .container{
        width: 450px;
    }

    h3{
        font-size: 18px !important;
    }

    label,p,input{
        font-size: 12px;
    }
    
}

@media(max-width:450px){
    .container{
        width:300px;
    }

    h3{
        font-size: 16px !important;
    }
}

@media(max-width:350px){
    .container{
        width:280px;
    }

    h3{
        font-size: 16px !important;
    }

    label,p,input{
        font-size: 10px;
    }
}