<div class="container">
    <h2>About pick the best team</h2>
    <p>We are bunch of engineers having passion of making lives easy.
    Here we build this product save your valuable time in researching a product before you buy it.
    We are still having thoughts to make  this site more robust and scalable. We appreciate if you give us any thought.
    </p>
</div>

<div class="container">
    <h4>Team Details:</h4>
    <table class="table table-bordered teamTable">
        <thead>
            <tr scope="row">
                <td scope="col">Name</td>
                <td scope="col">Roll Number</td>
                <td scope="col">Role</td>
            </tr>
        </thead>
        <tbody>
            <tr scope="row">
                <td scope="col">Deepthi Kaithi</td>
                <td scope="col">S545119</td>
                <td scope="col">Angular Developer</td>
            </tr>
            <tr scope="row">
                <td scope="col">Vikram Thakkallapally</td>
                <td scope="col">S545251</td>
                <td scope="col">Java Developer</td>
            </tr>
            <tr scope="row">
                <td scope="col">Lakshmi Sireesha Pavalla</td>
                <td scope="col">S543026</td>
                <td scope="col">Angular Developer</td>
            </tr>
            <tr scope="row">
                <td scope="col">Sai Nikhil Vadiyapu</td>
                <td scope="col">S545522</td>
                <td scope="col">Java Developer</td>
            </tr>
            <tr scope="row">
                <td scope="col">Lakshmi Sireesha Pavalla</td>
                <td scope="col">S543026</td>
                <td scope="col">Selinium Developer</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <h4>Various Requirements:</h4>
    <table class="table table-bordered teamTable">
        <thead>
            <tr scopr="row">
                <td>Tools Used:</td>
                <td>Frameworks used:</td>
                <td>External Dependencies:</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        <li>Eclipse EE edition</li>
                        <li>Visual Studio code</li>
                        <li>My Sql work bench</li>
                        <li>Chrome Browser</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Angular 13.*.*</li>
                        <li>Springboot 2.4.5</li>
                        <li>Spring Aop</li>
                        <li>Hibernate with spring data Jpa</li>
                        <li>Eh-Cache</li>
                        <li>Jwt</li>
                        <li>Selinium</li>
                        <li>STOMP</li>
                        <li>SOCK JS</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Chrome Web Driver</li>
                        <li>Bootstrap5</li>
                        <li>Ng-Bootstrap</li>
                        <li>htmlunit</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>

