<div class="container mt-5 registerForm">
    <div class="card" style="padding:20px;">

        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
            <h5 class="label label-default text-primary mb-3">USER LOGIN</h5>
            <input type="text" ngModel name="userName" id="userName" placeholder="enter your username" class="form-control mb-3">
            <input type="password" ngModel name="userPassword" id="userPassword" placeholder="enter password" class="form-control mb-3">
            <div class="error1" *ngIf="errorOccured == true">{{message}}</div>
            <input type="submit" value="Log In" class="btn btn-primary form-control rounded-3 cta-1">
            <a class="forgot-link mt-3 reigisterUser" routerLink="/register">Don't have account?  Create now</a>
            <a routerLink="/reset/password" class="forgot-link">forgot password?</a>
        </form>
    </div>
</div>